/* Desktop view */

#toggler {
  display: none;
}

@keyframes fadeIn {
  to {
    background: rgba(0, 0, 0, 0.8);
  }
}
/* Mobile view */
@media (max-width: 675px) {
  input#toggler:checked ~ .links-wrapper .links {
    right: 0;
  }
  input#toggler:checked ~ .links-wrapper .close-btn {
    right: 32px;
  }
  input#toggler:checked ~ .links-wrapper .backdrop {
    display: block;
  }
}
